@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("/font/Ray/Ray-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-Ray: "Ray-Medium";
  --breakpoint-3xl: 120rem;
  --color-primary: #2a2185;
  --color-secondary: #f1f1f1;
}

/* Custom Scrollbar */
/* .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
} */

/* .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2a2185;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2a2185;
} */

* {
  font-family: "Ray", sans-serif;
}
/* From Uiverse.io by SelfMadeSystem */
.containchec-containerer {
  cursor: pointer;
}

.chec-container input {
  display: none;
}

.chec-container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #2a2185;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.chec-container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.input-filed {
  @apply w-full border border-gray-300 rounded-md px-4 py-2 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-black/50 transition;
}
.primary-btn {
  @apply mb-6 w-full max-w-sm mx-auto flex items-center gap-x-3 bg-gradient-to-r from-blue-500 to-purple-500 text-white px-6 py-3 rounded-lg font-semibold  cursor-pointer shadow-md hover:scale-103 transition-all duration-500;
}
